* {box-sizing:border-box}

body{
  font-size: 14px;
  background-color: #F8F6ED;
  color: #333333;
  height:100%;
  padding:0px; 
  margin:0px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

nav {
  box-shadow: 5px 4px 5px #000;
}

/*----------------------------------*/
/*------General Cities Pages--------*/
/*----------------------------------*/
.content {
  margin: 50px 50px 0px 50px;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-side:hover {
  background-color: blue;
}
.swiper-button-next,.swiper-button-prev{
    color: white;
    width: 40px;
    height: 40px;
    border: 1px solid #2AACA1;
    border-radius: 3px;
    background: #163330;
    margin: 0 80px 0 80px;
}
.swiper-button-next{
  padding: 4px 15px;
}
.swiper-button-prev{
  padding: 4px 14px;
}

.month-slide {
  position: relative;
  width: 50%;
}

.img-responsive {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.month-slide:hover .img-responsive{
  opacity: 0.3;
}

.month-slide:hover .middle{
  opacity: 1;
}

.text {
  background-color: #639f99;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.morePic {
  margin-bottom: 20px;
}

#picbtn {
  background-color: #639f99;
  color: white;
  padding: 10px;
  display: block;
  margin: auto;
} 
.photos {
  padding-left: 20px;
  padding-right: 20px;
}

img {
  padding: 20px;
}
